<mat-card class="input-card">
  <mat-card-content>
    <mat-card-title>Vozila</mat-card-title>
    <mat-card-subtitle>Nov unos - <code>Vozila</code></mat-card-subtitle>
    <mat-card-content>
      <mat-horizontal-stepper [linear]="isLinear">
        <mat-step [stepControl]="stepControlAd">
          <form [formGroup]="stepControlAd" autocomplete="on" novalidate fxLayout="column wrap">
            <ng-template matStepLabel>Detalji oglasa</ng-template>

            <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-10">
              <div fxFlex.gt-sm="50%" fxFlex="50" class="p-l-10 p-r-10">
                <mat-radio-group placeholder="Stanje*">
                  <mat-radio-button color="primary" [checked]="ad.condition === 'Polovno'" value="Polovno"
                    (click)="setCondition('Polovno')">Polovno</mat-radio-button>
                  <mat-radio-button color="primary" [checked]="ad.condition === 'Novo'" value="Novo"
                    (click)="setCondition('Novo')" class="m-l-20">Novo</mat-radio-button>
                </mat-radio-group>
              </div>

              <div fxFlex.gt-sm="50%" fxFlex="50" class="p-l-10 p-r-10">
                <mat-radio-group placeholder="Tip oglasa*">
                  <mat-radio-button color="primary" [checked]="ad.adType === 'Deo'" value="Deo"
                    (click)="setAdType('Deo')">Deo</mat-radio-button>
                  <mat-radio-button color="primary" [checked]="ad.adType === 'Oprema'" value="Oprema"
                    (click)="setAdType('Oprema')" class="m-l-20">Oprema</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <mat-form-field>
              <mat-select [(ngModel)]="ad.type" placeholder="Tip*" [formControl]="type">
                <mat-option *ngFor="let vehicleType of vehicleTypeList" value="{{vehicleType}}">{{vehicleType}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="hasErrorAd('type', 'required')">Vrsta je obavezno polje</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-select [(ngModel)]="ad.brand" placeholder="Marka" [formControl]="brand"
                (selectionChange)="setModels($event)">
                <mat-option *ngFor="let brand of brandList" value="{{brand.name}}">{{brand.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select [(ngModel)]="ad.model" placeholder="Model" [formControl]="model">
                <mat-option *ngFor="let model of modelList" value="{{model}}">{{model}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <input matInput [(ngModel)]="
                  ad.label" placeholder="Oznaka modela" type="text" [formControl]="label">
            </mat-form-field>

            <mat-form-field>
              <mat-select [(ngModel)]="ad.category" placeholder="Kategorija*" [formControl]="category"
                (selectionChange)="setSubcategories($event)">
                <mat-option *ngFor="let category of categoryList" value="{{category.name}}">{{category.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="hasErrorAd('category', 'required')">Kategorija je obavezno polje</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-select [(ngModel)]="ad.subcategory" placeholder="Podkategorija" [formControl]="subcategory">
                <mat-option *ngFor="let subcategory of subcategoryList" value="{{subcategory}}">{{subcategory}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select [(ngModel)]="ad.year" placeholder="Godište od" [formControl]="year">
                <mat-option *ngFor="let year of yearList" value="{{year}}">{{year}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select [(ngModel)]="ad.yearTo" placeholder="Godište do" [formControl]="yearTo">
                <mat-option *ngFor="let yearTo of yearList" value="{{yearTo}}">{{yearTo}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <input matInput [(ngModel)]="ad.price" placeholder="Cena*" type="number" [formControl]="price">
              <mat-error *ngIf="hasErrorAd('price', 'required')">Cena je obavezno polje</mat-error>
            </mat-form-field>

            <mat-card-actions align="center">
              <button mat-raised-button color="warn" class="full-button" matStepperNext>
                <mat-icon aria-label="Next">arrow_forward</mat-icon> Dalje
              </button>
              <button *ngIf="!showSpinner" mat-raised-button mat-dialog-close color="default">
                <mat-icon aria-label="Nov unos">close</mat-icon> Odustani
              </button>
            </mat-card-actions>
          </form>
        </mat-step>

        <mat-step [stepControl]="stepControlUser">
          <form [formGroup]="stepControlUser" autocomplete="on" novalidate fxLayout="column wrap">
            <ng-template matStepLabel>Detalji korisnika</ng-template>

            <mat-form-field>
              <input matInput [(ngModel)]="ad.name" placeholder="Ime" type="text" [formControl]="name">
            </mat-form-field>

            <mat-form-field>
              <input matInput [(ngModel)]="ad.email" placeholder="E-mail*" [formControl]="email">
              <mat-error *ngIf="hasErrorUser('email', 'required')">E-mail je obavezno polje</mat-error>
              <mat-error *ngIf="hasErrorUser('email', 'email')">Nije validan E-mail format</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput [(ngModel)]="ad.phone" placeholder="Telefon*" type="text" [formControl]="phone">
              <mat-error *ngIf="hasErrorUser('phone', 'required')">Telefon je obavezno polje</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput [(ngModel)]="ad.phone2" placeholder="Telefon 2" type="text" [formControl]="phone2">
            </mat-form-field>

            <mat-form-field>
              <mat-select [(ngModel)]="ad.city" placeholder="Grad*" [formControl]="city">
                <mat-option *ngFor="let city of cityList" value="{{city}}">{{city}}</mat-option>
              </mat-select>
              <mat-error *ngIf="hasErrorUser('city', 'required')">Grad je obavezno polje</mat-error>
            </mat-form-field>
            <mat-card-actions align="center">
              <button mat-raised-button color="primary" class="half-button" matStepperPrevious>
                <mat-icon aria-label="Next">arrow_back</mat-icon> Nazad
              </button>
              <button mat-raised-button color="warn" class="full-button" class="half-button m-l-5" matStepperNext>
                <mat-icon aria-label="Next">arrow_forward</mat-icon> Napred
              </button>
              <button *ngIf="!showSpinner" mat-raised-button mat-dialog-close color="default">
                <mat-icon aria-label="Nov unos ad">close</mat-icon> Odustani
              </button>
            </mat-card-actions>
          </form>
        </mat-step>

        <mat-step [stepControl]="stepControlSettings">
          <form [formGroup]="stepControlSettings" autocomplete="on" novalidate fxLayout="column wrap">
            <ng-template matStepLabel>Dodatno</ng-template>

            <div fxLayout="row" fxLayoutWrap="wrap">
              <div *ngFor="let index of indexesFirst" fxFlex.gt-sm="33%" fxFlex="33" class="p-l-10 p-r-10">
                <button mat-raised-button color="primary" class=" m-t-20 upload-btn" (click)="fileInputClick(index)">
                  <mat-icon aria-label="Nov unos">cloud_upload</mat-icon> Dodaj sliku
                </button>
                <div class="img-container m-t-10">
                  <span class="helper"></span>
                  <img *ngIf="imgUrl[index]" [src]="imgUrl[index]" class="img-preview">
                </div>
                <input hidden type="file" (change)="onFileSelected($event, index)" id="{{index}}">
              </div>
            </div>

            <div fxLayout="row" fxLayoutWrap="wrap">
              <div *ngFor="let index of indexesSecond" fxFlex.gt-sm="33%" fxFlex="33" class="p-l-10 p-r-10">
                <button mat-raised-button color="primary" class=" m-t-20 upload-btn" (click)="fileInputClick(index)">
                  <mat-icon aria-label="Nov unos">cloud_upload</mat-icon> Dodaj sliku
                </button>
                <div class="img-container m-t-10">
                  <span class="helper"></span>
                  <img *ngIf="imgUrl[index]" [src]="imgUrl[index]" class="img-preview">
                </div>
                <input hidden type="file" (change)="onFileSelected($event, index)" id="{{index}}">
              </div>
            </div>

            <mat-form-field class="m-t-15">
              <textarea matInput matAutosizeMinRows=4 matAutosizeMaxRows=25 [(ngModel)]="ad.text"
                placeholder="Tekst oglasa" [formControl]="text"></textarea>
            </mat-form-field>

            <mat-form-field>
              <input matInput [(ngModel)]="ad.expires" placeholder="Ističe*" type="number" [formControl]="expires">
            </mat-form-field>

            <mat-slide-toggle color="primary" class="m-t-20" [checked]="this.ad.highlight" [disabled]="false"
              (change)="highlightChanged()">Istaknut</mat-slide-toggle>

            <mat-slide-toggle color="primary" class="m-t-20" [checked]="this.ad.active" [disabled]="true"
              (change)="activeChanged()">Aktivan</mat-slide-toggle>

            <mat-card-actions align="center">
              <mat-spinner *ngIf="showSpinner" [diameter]="helperService.spinnerDiameter"></mat-spinner>
              <button *ngIf="!showSpinner" mat-raised-button color="primary" class="half-button" matStepperPrevious>
                <mat-icon aria-label="Next">arrow_back</mat-icon> Back
              </button>
              <button *ngIf="!showSpinner" mat-raised-button color="warn" [disabled]="!stepControlSettings.valid"
                (click)="saveAd()">
                <mat-icon aria-label="Nov unos ad">save</mat-icon> Save
              </button>
              <button *ngIf="!showSpinner" mat-raised-button mat-dialog-close color="default">
                <mat-icon aria-label="Nov unos">close</mat-icon> Odustani
              </button>
            </mat-card-actions>
          </form>
        </mat-step>

      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card-content>
</mat-card>