<mat-card>
  <mat-card-content>
    <mat-card-title>Administratori</mat-card-title>
    <mat-card-subtitle>Lista - <code>Administratori</code></mat-card-subtitle>

    <mat-tab-group class="m-t-10" (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Aktivni">
        <app-active-administrators [visible]="visibleActive"></app-active-administrators>
      </mat-tab>
      <mat-tab label="Arhivirani">
        <app-archived-administrators [visible]="visibleArchived"></app-archived-administrators>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
